body {
    font-size: 16px;
}

div {
    display: inline-block
}

h1 {
    font-family: serif;
    font-size: 3.5rem;  
    padding-left: 2rem;
    padding-top: .75rem;
    margin-bottom: 0;  
}

h2 {
    text-align: center;
}

p {
    font-family: serif;
    font-size: 1.3rem;
    padding-left: 2.1rem;
    line-height: 1;
    margin-top: .5rem;   
}

img {
    width: 100%;
    height: auto;
}


.left {
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.right {
    width: 50%;
    float: right;
}

ul.photolist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 0;
    /*do I have to make line height 0 to get elements to touch?*/
}

ul.photolist li {
    display: inline-block;
    margin: 0 0 0 0;
    position: relative;
    height: 100%;
    width: 100%;
}

/*created main container to have a space for gray hover.  Then put another span inside to vertically align text to gray hover.*/

.main-container {
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
}

/*contains gray hover*/

span.phototext {
    font-size: 2.2rem;
    color: white;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    /*to delete 50% space at bottom*/
}

/*contains text to go in gray hover*/ 

span.phototext span {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

ul.photolist li:hover .main-container {
  opacity: 1;
}