body {
    font-size: 16px;
    margin: 0;
}

div {
    display: inline-block
}

h1 {
    font-family: serif;
    font-size: 3.5rem;  
    text-align: center;
    margin-bottom: 0;
    color: #424242;
}

h2 {
    text-align: center;
}

p {
    font-family: serif;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1;
    margin-top: .5rem;  
    color: #696969;
}

img {
    width: 100%;
    height: auto;
}


.left {
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #FFFAFA;
}

ul.staticphoto{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 0;
    
}

#circularphoto img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
}

.menu {
    position: relative;
    margin: 3rem;
}

.dropdown {
    background-color: #FFFAFA;
    color: #696969;
    font-size: 1.3rem;
    font-family: serif;
    border: none;
}

.dropdown-content {
    display: none;
    background-color: #FFFAFA;
    padding: 1rem;
}

.dropdown-content a {
    padding: 1rem 1rem;
    text-decoration: none;
    color: #696969;
    display: block;
}

.menu:hover .dropdown-content {
    display: block;
}

.right {
    width: 50%;
    float: right;
    position: inline-block;
}

ul.photolist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 0;
    /*how do I get rid of white space above and to the right without negative margins?*/
}

ul.photolist li {
    display: inline-block;
    margin: 0 0 0 0;
    position: relative;
    height: 100%;
    width: 100%;
}

.main-container {
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    border-radius: 50%;
}

span.phototext {
    font-size: 2.2rem;
    color: white;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 50%;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
}

ul.photolist li:hover .main-container {
  opacity: 1;
}

#hover1, #hover4, #hover7, #hover10, #hover13, #hover16 {
    background-color: rgba(176, 65, 255, 0.3)
}

#hover2, #hover5, #hover8, #hover11, #hover14, #hover17 {
    background-color: rgba(255, 128, 64, 0.3)
}

#hover3, #hover6, #hover9, #hover12, #hover15, #hover18 {
    background-color: rgba(255, 248, 198, 0.3)
}
